html body {
    margin:  0px;
    padding: 0px;

    font-family: sans-serif;
}

/*** BANNER ***/

.banner {
    font-weight: bold;

    padding:        16px;
    padding-top:     6px;
    padding-bottom:  6px;

    text-align: left;
    text-align: center;

    font-size: 125%;
}

.banner_border {
    margin-left:   0px;
    margin-right:  0px;
}

.banner,
.banner_border {
    border-style: solid;
    border-width: 1px;

    border-top-width:   0px;
    border-left-width:  0px;
    border-right-width: 0px;
}

h1,
h2,
h3 {
    margin:  0px;
    padding: 0px;
}

/*** BUTTON ***/

.button {
    border-style: solid;

    border-width:         1px;
    border-top-width:     1px;
    border-left-width:    1px;

    padding:        0px;
    padding-top:    4px;
    padding-bottom: 4px

    font-weight: normal;
    font-size: 100%;
    text-align: left;

    margin: 0px;
}

.button p {
    margin: 8px;
    vertical-align: middle;
}

.button_border {
    border-style: solid;

    border-width:      1px;
    border-top-width:  1px;
    border-left-width: 1px;

    margin-top:     0px;
    margin-left:   24px;
    margin-right:  24px;
    margin-bottom:  0px;

    cursor: pointer;
}

.separator {
    margin-top:    20px;
    margin-bottom: 20px;
}

.button,
.button_border {
    border-radius: 0px;
}

.button p {
    text-align: left;
}

.label {
}

.description {
    font-size: 75%;
    padding-bottom: 8px;
}

.middle,
.bottom {
    border-top-width: 0px;
}


/*** ROUNDING ***/

.solo,
.solo .button,
.top,
.top .button {
    border-top-left-radius:   0px;
    border-top-right-radius: 24px;
}

.solo,
.solo .button,
.bottom,
.bottom .button {
    border-bottom-left-radius:  24px;
    border-bottom-right-radius:  0px;
}

.banner,
.banner_border {
    border-bottom-left-radius:   0px;
    border-bottom-right-radius:  0px;
}

/*** POPUP DIALOG WINDOW ***/

#overlay {
    width:  100%;
    height: 100%;

    left: 0px;
    top:  0px;

    z-index: 1000;

    position: absolute;

    visibility: hidden;
}

#dialog {
    margin: auto;

    width: 33%;
    border: 6px solid gray;

    font-weight: bold;
    text-align: center;

    border-style: solid;
    border-width: 3px;

    border-radius: 256px;
}

/*** FOOTER STYLE ***/
#footer {
    text-align:  center;
}

#footer_border {
    margin-left:  48px;
    margin-right: 48px;
}

#footer,
#footer_border {
    border-width: 1px;
    border-style: solid;

    border-bottom-left-radius:  24px;
    border-bottom-right-radius:  0px;
    border-top-left-radius:      0px;
    border-top-right-radius:    24px;
}

#footer .description {
    padding-bottom: 2px;
}
