html body {
    margin:  0px;
    padding: 0px;

    font-family: sans-serif;
}

.banner {
    font-weight: bold;

    padding: 13px;

    border-bottom-style: solid;
    border-bottom-width: 1px;

    text-align: center;

    font-size: 100%;
}

.banner-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h1,
h2,
h3 {
    margin:  0px;
    padding: 0px;
}

.padding {
    margin: 9px;
}

.column {
    width: 100%;
}

.separator {
    padding-bottom: 9px;
}

.button {
    height: 48px;
    border-style: solid;
    border-width: 1px;
    padding: 16px;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;

    border-radius: 4px;

    vertical-align: middle;
}

.button .label {
}

.button-border {
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    border-radius: 4px;
}
