html body {
    background: rgb( 60,  60,  60);
    color:      rgb(255, 255, 255);
}

.button {
    background:       rgb(80, 80, 80);
    border-color:     rgb(82, 82, 82);
    border-top-color: rgb(88, 88, 88);
}

.button_border {
    border-bottom-color: rgb(35, 35, 35);
    border-color:        rgb(45, 45, 45);
    border-top-color:    rgb(50, 50, 50);
}

.button_border.top,
.button_border.middle {
    border-bottom-color: rgb(60, 60, 60);
}

.label {
    color: rgb(255, 255, 255);
}

.description {
    color: rgb(175, 175, 175);
}

.banner {
    color:      rgb(255, 255, 255);
    background: #5d3366;

    border-bottom-color: #683473;
    border-top-color:    rgb(48, 48, 48);
}

.banner_border {
    border-bottom-color: rgb(48, 48, 48);
    border-color:        rgb(48, 48, 48);
}

#overlay {
    background: url(overlay.png);
    color:      white;

    z-index: 1000;
}

#dialog {
    background: white;
    color:      black;

    border-color: gray;
}

#footer {
    background: rgb( 50,  50,  50);
    color:      rgb(192, 192, 192);

    border-color:        rgb(52, 52, 52);
    border-top-color:    rgb(58, 58, 58);
}

#footer_border {
    border-top-color:    rgb(25, 25, 25);
    border-color:        rgb(35, 35, 35);
    border-bottom-color: rgb(40, 40, 40);
}
