html body {
    background: #444;
    color:      #fff;
}

.button {
    border-color:       #555;
    border-top-color:   #666;
    background:         #555;
}

.button_border {
    border-color:           #222;
    border-bottom-color:    #111;
    border-top-color:       #333;
}

.button .label {
}

.button .description {
    color: #bbb;
}

.banner {
    color:      #fff;
    background: #484;

    border-color:        #4f8f4f;
    border-bottom-color: #66aa66;
}

.banner_border {
    border-bottom-color: #002000;
    border-color:        #0f2f0f;
}
