html body {
    background: #444;
    color:      #fff;
}

.button {
    border-color: #666;
}

.button_border {
    border-color: #222;
}

.button .label {
}

.banner {
    color:      #fff;
    background: #484;

    border-bottom-color: #6a6;
}

.banner_border {
    border-bottom-color: #151;
}
