html body {
    background: rgb(225, 225, 225);
    color:      rgb(  0,   0,   0);
}

.button {
    border-color:     rgb(250, 250, 250);
    border-top-color: rgb(255, 255, 255);
    background:       rgb(245, 245, 245);
}

.button_border {
    border-bottom-color: rgb(165, 165, 165);
    border-color:        rgb(175, 175, 175);
    border-top-color:    rgb(185, 185, 185);
}

.button_border.top,
.button_border.middle {
    border-bottom-color: rgb(215, 215, 215);
}

.button .label {
}

.button .description {
    color: rgb(100, 100, 100);
}

.banner {
    color:      rgb(255, 255, 255);
    background: #7a5c99;

    border-bottom-color: #8659b2;
    border-top-color:    rgb(48, 48, 48);
}

.banner_border {
    border-bottom-color: rgb(48, 48, 48);
    border-color:        rgb(48, 48, 48);
}
