html body {
    background: #ccc;
    color:      #000;
}

.banner {
    color:      #fff;
    background: #44e;

    border-bottom-color: #66f;
}

.banner-border {
    border-bottom-color: #22c;
}

.button {
    border-color: #fff;

    background: #eee;
}

.button .label {
}

.button-border {
    border-color: #aaa;
}
